<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CZZD.GSZX.S.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConStringEncrypt" value=" false" />
    <add key="ConnectionStringMySql" value="server=LENOVO-PC;userid=root;password=password;database=demo;CharSet=utf8;port=3307;" />
    <add key="ConnectionStringSqlServer" value="server=LENOVO-PC;uid=sa;pwd=czzd;database=GSZX;" />
    <add key="AppDAL" value="SQLServerDAL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <CZZD.GSZX.S.UI.Properties.Settings>
      <setting name="gszx_s_czzd_gszx_send__Send" serializeAs="String">
        <value>http://localhost:55730/GS_WebService/Send.asmx</value>
      </setting>
      <setting name="gszx_s_czzd_gszx_receive__Receive" serializeAs="String">
        <value>http://localhost:55730/GS_WebService/Receive.asmx</value>
      </setting>
      <setting name="gszx_r_czzd_gszx_receive__Receive" serializeAs="String">
        <value>http://localhost:55730/GS_WebService/Receive.asmx</value>
      </setting>
    </CZZD.GSZX.S.UI.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>